.cerulean {
  background-color: #4484CE;
}
.aluminium {
  background-color: #D9D9D9;
}
.light {
  background-color: #F9CF00;
}
.tangerine {
  background-color: #F19F4D;
}
.active-cards {
  background-color:rgba(241, 159, 77, 0.2);
  border: 3px solid rgba(241, 159, 77, 0.7);
  border-radius: 5px;
}
.footer-location {
  bottom: 0;
  background-color: #08457e;
  position: absolute;
  width: 100%
}
.app-background {
  min-height: 100vh;
  position: relative;
}
.side-menu {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(217, 217, 217, 1);
  border-radius: 5px;
}
.shadow {
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.75)
}